include README.rst
include LICENSE
include bin/*
include bubblebox/cbox/*
include bubblebox/cbox/lib/*
include bubblebox/cbox/source/*
include bubblebox/cbox/source/create/*
include bubblebox/cbox/source/utilities/*
include bubblebox/cbox/include/*
include bubblebox/cbox/include/cbox/*
include bubblebox/cbox/depends/*
include bubblebox/cbox/depends/indicators/*
include bubblebox/cbox/depends/indicators/details/*
